.h-100-vh {
    height: 100vh;
}

.w-35-vh {
    width: 35vh;
}

.body-dashbaord {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.remove-style {
    font-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.border-right {
    border-right: 1px var(--bs-border-style)
        var(--bs-border-color) !important;
}